#### Hello!! Gonna do a bit of a different one this time, working on a fun/actually useful project.
#####  I will be using GTFS data to try to make a time between stops guide for the Light rail. Good luck to me!!

###### Data collected from --> https://transitfeeds.com/p/sound-transit/44

In [1]:
import matplotlib as plt
import matplotlib.pyplot as pyplot
import numpy as np
import pandas as pd
import geopandas

import gtfs_kit as gt

In [2]:
feed = gt.read_feed('C:/Users/aaron/Code/Data/GTFS/Sound_Transit_09-02-2021_gtfs.zip', dist_units = 'mi')

In [3]:
feed.describe()

                           indicator                value
0                           agencies      [Sound Transit]
1                           timezone  America/Los_Angeles
2                         start_date             20210220
3                           end_date             20220318
4                         num_routes                    4
5                          num_trips                 2541
6                          num_stops                   61
7                         num_shapes                   23
8                        sample_date             20210225
9   num_routes_active_on_sample_date                    2
10   num_trips_active_on_sample_date                   22
11   num_stops_active_on_sample_date                   17

In [4]:
feed.stops.head(3)

,stop_id,stop_name,stop_lat,stop_lon,stop_code,stop_desc,zone_id,stop_url,stop_timezone
0,1108,Westlake Station,47.611450,-122.337532,C03-T1,"Westlake Station - 4th Ave & Pine St Seattle, ...",21,https://www.soundtransit.org/ride-with-us/stop...,America/Los_Angeles
1,1121,Westlake Station,47.611759,-122.335785,C03-T2,"Westlake Station - 4th Ave & Pine St Seattle, ...",21,https://www.soundtransit.org/ride-with-us/stop...,America/Los_Angeles
2,455,University St Station,47.607246,-122.335754,C05-T1,University Street Station - 3rd Ave & Seneca S...,21,https://www.soundtransit.org/ride-with-us/stop...,America/Los_Angeles

In [5]:
stop_times = feed.stop_times

stop_times

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,stop_headsign,continuous_pickup,continuous_drop_off,start_service_area_radius,end_service_area_radius,departure_buffer
0,1500,S_LW,04:36:00,04:36:00,1,King Street Station,-999,-999,-999.0,-999.0,0
1,1500,S_ST,04:41:00,04:41:00,2,King Street Station,-999,-999,-999.0,-999.0,0
2,1500,S_TD,04:50:00,04:50:00,3,King Street Station,-999,-999,-999.0,-999.0,0
3,1500,S_PU_NB,05:03:00,05:03:00,4,King Street Station,-999,-999,-999.0,-999.0,0
4,1500,S_SU_NB,05:08:00,05:08:00,5,King Street Station,-999,-999,-999.0,-999.0,0
...,...,...,...,...,...,...,...,...,...,...,...
37748,TacL7041,TL_CS,18:02:00,18:02:00,2,Tacoma Dome Station,-999,-999,-999.0,-999.0,0
37749,TacL7041,TL_CC,18:04:00,18:04:00,3,Tacoma Dome Station,-999,-999,-999.0,-999.0,0
37750,TacL7041,TL_US,18:06:00,18:06:00,4,Tacoma Dome Station,-999,-999,-999.0,-999.0,0
37751,TacL7041,TL_25,18:08:00,18:08:00,5,Tacoma Dome Station,-999,-999,-999.0,-999.0,0
37752,TacL7041,TL_TD,18:10:00,18:10:00,6,Tacoma Dome Station,-999,-999,-999.0,-999.0,0

In [6]:
#### Test if there are any rows with different arrival and departure times

stop_times['arrival_time'].equals(stop_times['departure_time'])

True

In [7]:
#stop_times['arrival_time'] = pd.to_datetime(stop_times['arrival_time'])

In [8]:
specific_route = feed.stop_times[feed.stop_times.trip_id == 'LLR_2021-06-12-28_Saturday_1003']

In [9]:
#specific_route['arrival_time'] = pd.to_datetime(specific_route['arrival_time'], format='%H:%M')
#specific_route['departure_time'] = pd.to_datetime(specific_route['departure_time'], format='%H:%M')
specific_route['arrival_time'] = pd.to_datetime(specific_route['arrival_time'])
specific_route['departure_time'] = pd.to_datetime(specific_route['departure_time'])

C:\Users\aaron\AppData\Local\Temp\ipykernel_5968\3090150214.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  specific_route['arrival_time'] = pd.to_datetime(specific_route['arrival_time'])
C:\Users\aaron\AppData\Local\Temp\ipykernel_5968\3090150214.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  specific_route['departure_time'] = pd.to_datetime(specific_route['departure_time'])

In [10]:
specific_route

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,stop_headsign,continuous_pickup,continuous_drop_off,start_service_area_radius,end_service_area_radius,departure_buffer
461,LLR_2021-06-12-28_Saturday_1003,99914,2024-08-08 05:00:00,2024-08-08 05:00:00,0,NaN,-999,-999,-999.0,-999.0,0
462,LLR_2021-06-12-28_Saturday_1003,99903,2024-08-08 05:04:00,2024-08-08 05:04:00,1,NaN,-999,-999,-999.0,-999.0,0
463,LLR_2021-06-12-28_Saturday_1003,99905,2024-08-08 05:07:00,2024-08-08 05:07:00,2,NaN,-999,-999,-999.0,-999.0,0
464,LLR_2021-06-12-28_Saturday_1003,55578,2024-08-08 05:16:00,2024-08-08 05:16:00,3,NaN,-999,-999,-999.0,-999.0,0
465,LLR_2021-06-12-28_Saturday_1003,55656,2024-08-08 05:19:00,2024-08-08 05:19:00,4,NaN,-999,-999,-999.0,-999.0,0
466,LLR_2021-06-12-28_Saturday_1003,55778,2024-08-08 05:23:00,2024-08-08 05:23:00,5,NaN,-999,-999,-999.0,-999.0,0
467,LLR_2021-06-12-28_Saturday_1003,55860,2024-08-08 05:26:00,2024-08-08 05:26:00,6,NaN,-999,-999,-999.0,-999.0,0
468,LLR_2021-06-12-28_Saturday_1003,99240,2024-08-08 05:28:00,2024-08-08 05:28:00,7,NaN,-999,-999,-999.0,-999.0,0
469,LLR_2021-06-12-28_Saturday_1003,99256,2024-08-08 05:31:00,2024-08-08 05:31:00,8,NaN,-999,-999,-999.0,-999.0,0
470,LLR_2021-06-12-28_Saturday_1003,99260,2024-08-08 05:33:00,2024-08-08 05:33:00,9,NaN,-999,-999,-999.0,-999.0,0
471,LLR_2021-06-12-28_Saturday_1003,621,2024-08-08 05:35:00,2024-08-08 05:35:00,10,NaN,-999,-999,-999.0,-999.0,0
472,LLR_2021-06-12-28_Saturday_1003,532,2024-08-08 05:38:00,2024-08-08 05:38:00,11,NaN,-999,-999,-999.0,-999.0,0
473,LLR_2021-06-12-28_Saturday_1003,565,2024-08-08 05:40:00,2024-08-08 05:40:00,12,NaN,-999,-999,-999.0,-999.0,0
474,LLR_2021-06-12-28_Saturday_1003,1121,2024-08-08 05:42:00,2024-08-08 05:42:00,13,NaN,-999,-999,-999.0,-999.0,0
475,LLR_2021-06-12-28_Saturday_1003,99603,2024-08-08 05:44:00,2024-08-08 05:44:00,14,NaN,-999,-999,-999.0,-999.0,0
476,LLR_2021-06-12-28_Saturday_1003,99605,2024-08-08 05:48:00,2024-08-08 05:48:00,15,NaN,-999,-999,-999.0,-999.0,0

In [11]:
first_stop = specific_route['stop_sequence'].min()
last_stop = specific_route['stop_sequence'].max()

number_of_stops = specific_route['stop_sequence'].nunique()

In [12]:
first_stop_time = specific_route[specific_route['stop_sequence'] == first_stop]['arrival_time'].iloc[0]
last_stop_time = specific_route[specific_route['stop_sequence'] == last_stop]['arrival_time'].iloc[0]

In [13]:
#last_stop_time.iloc[0]

In [14]:
total_trip_time = last_stop_time - first_stop_time

In [15]:
total_trip_time

Timedelta('0 days 00:48:00')

In [28]:
def calculate_route_stuff(specific_route_id):
    ### route id must be a string
    #specific_route = feed.stop_times[feed.stop_times.trip_id == 'LLR_2021-06-12-28_Saturday_1003']
    specific_route = feed.stop_times[feed.stop_times.trip_id == specific_route_id]

    specific_route['arrival_time'] = pd.to_datetime(specific_route['arrival_time'])
    specific_route['departure_time'] = pd.to_datetime(specific_route['departure_time'])
    first_stop = specific_route['stop_sequence'].min()
    last_stop = specific_route['stop_sequence'].max()

    number_of_stops = specific_route['stop_sequence'].nunique()

    first_stop_time = specific_route[specific_route['stop_sequence'] == first_stop]['arrival_time'].iloc[0]
    last_stop_time = specific_route[specific_route['stop_sequence'] == last_stop]['arrival_time'].iloc[0]

    total_trip_time = last_stop_time - first_stop_time

    return number_of_stops, total_trip_time

In [38]:
calculate_route_stuff('LLR_2021-06-12-28_Saturday_1015')

C:\Users\aaron\AppData\Local\Temp\ipykernel_5968\1137155463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  specific_route['arrival_time'] = pd.to_datetime(specific_route['arrival_time'])
C:\Users\aaron\AppData\Local\Temp\ipykernel_5968\1137155463.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  specific_route['departure_time'] = pd.to_datetime(specific_route['departure_time'])

(16, Timedelta('0 days 00:48:00'))