##### Hello!! This data set details radar traffic counts in Austin. 

https://data.austintexas.gov/Transportation-and-Mobility/Radar-Traffic-Counts/i626-g7ub

###### The above link has info as to what each column means

##### Unfortunately this data collection ends in mid 2021, so not really so relevant anymore.

In [1]:
import pandas as pd

data_frame = pd.read_csv('C:/Users/aaron/Code/Data/Radar_Traffic_Counts_20231017.csv')

data_frame.head()

,Row ID,Detector ID,KITS ID,Read Date,Intersection Name,Lane,Volume,Occupancy,Speed,Month,Day,Year,Hour,Minute,Day of Week,Time Bin,Direction
0,9794d3655e0572eb865546d0df50e00f,74,19,01/24/2018 04:15:01 AM,KINNEYLAMAR,Lane1,4,0,18,1,23,2018,22,15,2,22:15,None
1,1f51f4e6a68297c9f9907e4361313c47,92,24,12/17/2017 01:45:00 AM,LOOP 360LAKEWOOD,NB_out,103,6,40,12,16,2017,19,45,6,19:45,NB
2,9de27c4292306d305fc781dad25347c4,10,3,01/01/156489 12:00:00 AM,LAMARSHOALCREEK,SB_out,20,1,33,8,3,2019,23,15,6,23:15,SB
3,b5a5739acbc9481c9bdb8854d31787c9,1,1,04/03/2020 11:15:00 PM,LAMARMANCHACA,NB_out,8,0,32,4,3,2020,23,15,5,23:15,NB
4,8b4b5e8a088d964b32ea95f36b146ea4,42,14,01/24/2018 03:45:01 AM,Robert E LeeBarton Springs,SB,44,2,27,1,23,2018,21,45,2,21:45,SB

In [2]:
data_frame['Read Date'] = pd.to_datetime(data_frame['Read Date'], errors='coerce')

data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6834237 entries, 0 to 6834236
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   Row ID             object
 1   Detector ID        int64
 2   KITS ID            int64
 3   Read Date          datetime64[ns]
 4   Intersection Name  object
 5   Lane               object
 6   Volume             int64
 7   Occupancy          int64
 8   Speed              int64
 9   Month              int64
 10  Day                int64
 11  Year               int64
 12  Hour               int64
 13  Minute             int64
 14  Day of Week        int64
 15  Time Bin           object
 16  Direction          object
dtypes: datetime64[ns](1), int64(11), object(5)
memory usage: 886.4+ MB

In [3]:
data_frame.nunique()

Row ID               6834237
Detector ID               86
KITS ID                   19
Read Date             180889
Intersection Name         19
Lane                      25
Volume                   256
Occupancy                124
Speed                    159
Month                     12
Day                       31
Year                       5
Hour                      24
Minute                    60
Day of Week                7
Time Bin                 115
Direction                 13
dtype: int64

In [4]:
data_frame.value_counts()

Row ID                            Detector ID  KITS ID  Read Date            Intersection Name        Lane      Volume  Occupancy  Speed  Month  Day  Year  Hour  Minute  Day of Week  Time Bin  Direction
0000006ab6d6a8bb75e262df233a7cd4  21           5        2019-03-18 00:00:00  LAMARSANDRA MURAIDA      SB_out    145     7          33     3      17   2019  19    0       0            19:00     SB           1
aaad07a2312fbc44771832e9f0ba9f6b  46           15       2018-07-02 18:45:00  Cesar ChavezBR Reynolds  WB_in     206     9          42     7      2    2018  13    45      1            13:45     WB           1
aaadc44162fb28e6d1d46c6e6922177c  30           10       2021-04-02 13:15:00  LamarBroken Spoke        Lane1     153     9          32     4      2    2021  13    15      5            13:15     Lane1        1
aaadc052103e949dc90951fedebf00fe  99           26       2018-05-29 10:00:00  LAMARZENNIA              SB_out    4       0          32     5      29   2018  5     0       2            05:00     SB           1
aaadbed8a3cee40c0e8650f2f4bbd16e  94           24       2021-07-14 11:00:00  LOOP 360LAKEWOOD         SB_Lturn  164     8          49     7      14   2021  11    0       3            11:00     SB           1
                                                                                                                                                                                                             ..
555da3e32bd84f2dcbde9727e87f79e3  80           20       1970-01-19 04:01:54  CESAR CHAVEZIH 35 WSR    EB_in     132     27         15     9      28   2019  18    45      6            18:45     EB           1
555da16ccebf7ce044fbb6fbd7077e79  61           8        2020-10-17 06:30:00  LOOP 360WALSH TARLTON    NB_mid    25      0          63     10     17   2020  6     30      6            06:30     NB           1
555da0a84e1274154707b542591e892c  12           3        2017-10-26 14:00:00  LAMARSHOALCREEK          NB_in     133     6          30     10     26   2017  9     0       4            09:00     NB           1
555da032178ef355e2a0729b644f0fc3  63           18       2018-05-20 00:00:00  TOOMEYTEST               Lane1     0       0          149    5      19   2018  19    0       6            19:00     None         1
fffffee41d800afc7320318f3be3b1ae  53           17       2018-07-21 03:15:00  CongressJohanna          SB_in     94      5          28     7      20   2018  22    15      5            22:15     SB           1
Length: 6834236, dtype: int64

In [5]:
data_frame['Volume'].describe()

count    6.834237e+06
mean     6.494107e+01
std      6.132462e+01
min      0.000000e+00
25%      1.000000e+01
50%      4.900000e+01
75%      1.050000e+02
max      2.550000e+02
Name: Volume, dtype: float64

In [6]:
data_frame.sort_values(by = 'Speed')

,Row ID,Detector ID,KITS ID,Read Date,Intersection Name,Lane,Volume,Occupancy,Speed,Month,Day,Year,Hour,Minute,Day of Week,Time Bin,Direction
480629,1d6722fa8ea142e5836bcad64f505f18,53,17,2018-03-28 20:45:00,CongressJohanna,SB_in,131,12,0,3,28,2018,15,45,3,15:45,SB
3190450,c294c8d657d99c87ecf5aeefd8f7fbac,30,10,2018-04-13 17:45:01,LamarBroken Spoke,Lane1,139,8,0,4,13,2018,12,45,5,12:45,None
3190451,fb648e57b1b63c5fb20446b5117d4f48,31,10,2018-04-13 17:45:01,LamarBroken Spoke,Lane2,188,11,0,4,13,2018,12,45,5,12:45,None
5906154,6f388be6e3b7e4b8bb2efe8c4c20ba7e,53,17,1970-01-19 04:59:15,CongressJohanna,SB_in,102,5,0,11,7,2019,13,45,4,13:45,SB
5906155,df90c6a3f3c51ce9ad1cd28d517627f6,54,17,1970-01-19 04:59:15,CongressJohanna,NB_in,106,11,0,11,7,2019,13,45,4,13:45,NB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538482,25685cd822c02571edf28acb19811422,76,19,2017-09-12 23:00:00,KINNEYLAMAR,Lane3,9,2,158,9,12,2017,18,0,2,18:00,None
1515367,4deabd6bf5be6839cd27e1ddec6d6f88,76,19,2017-09-16 05:15:01,KINNEYLAMAR,Lane3,3,1,158,9,16,2017,0,15,6,00:15,None
3575124,976e8cc15b67a75f0a25a4dfde55975e,82,20,2020-04-15 20:30:00,CESAR CHAVEZIH 35 WSR,EB_out,5,1,158,4,15,2020,20,30,3,20:30,EB
1503559,c8999d771d7c1d2181d3c50dbd765442,76,19,2017-09-19 08:30:00,KINNEYLAMAR,Lane3,25,13,158,9,19,2017,3,30,2,03:30,None
1517433,9e1977268b485c9c90b5c566267da1c4,76,19,2017-09-15 22:30:00,KINNEYLAMAR,Lane3,10,4,158,9,15,2017,17,30,5,17:30,None

In [7]:
speed_mask = data_frame['Speed'] > 150

speed_frame = data_frame[speed_mask]

speed_frame.head()

,Row ID,Detector ID,KITS ID,Read Date,Intersection Name,Lane,Volume,Occupancy,Speed,Month,Day,Year,Hour,Minute,Day of Week,Time Bin,Direction
1225027,973e4d1c9abc808f1a204e659df8c622,65,18,2017-10-30 12:30:00,TOOMEYTEST,Lane3,8,6,158,10,30,2017,7,30,1,07:30,None
1293908,b5664581466099311d374598bbf5f824,65,18,2017-10-20 13:00:01,TOOMEYTEST,Lane3,18,8,156,10,20,2017,8,0,5,08:00,None
1441814,5b38b7dd03715c7b92001048f8e10c30,76,19,2017-09-29 01:15:00,KINNEYLAMAR,Lane3,201,99,156,9,28,2017,20,15,4,20:15,None
1444209,8537a01574d167569bfd1183d5c1fe5c,76,19,2017-09-28 17:00:00,KINNEYLAMAR,Lane3,6,4,158,9,28,2017,12,0,4,12:00,None
1444842,7865f99e583d88d64c542f21e339672e,76,19,2017-09-28 14:45:01,KINNEYLAMAR,Lane3,5,2,158,9,28,2017,9,45,4,09:45,None

In [8]:
I35_mask = data_frame['Intersection Name'].str.contains('IH 35', regex=False)

on_35 = data_frame[I35_mask]

on_35.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554655 entries, 51 to 6834190
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Row ID             554655 non-null  object
 1   Detector ID        554655 non-null  int64
 2   KITS ID            554655 non-null  int64
 3   Read Date          554655 non-null  datetime64[ns]
 4   Intersection Name  554655 non-null  object
 5   Lane               554655 non-null  object
 6   Volume             554655 non-null  int64
 7   Occupancy          554655 non-null  int64
 8   Speed              554655 non-null  int64
 9   Month              554655 non-null  int64
 10  Day                554655 non-null  int64
 11  Year               554655 non-null  int64
 12  Hour               554655 non-null  int64
 13  Minute             554655 non-null  int64
 14  Day of Week        554655 non-null  int64
 15  Time Bin           554655 non-null  object
 16  Direction          554655 non-null  object
dtypes: datetime64[ns](1), int64(11), object(5)
memory usage: 76.2+ MB

In [9]:
on_35.head()

,Row ID,Detector ID,KITS ID,Read Date,Intersection Name,Lane,Volume,Occupancy,Speed,Month,Day,Year,Hour,Minute,Day of Week,Time Bin,Direction
51,6889e4c9bf1a79b6fef83b41aeea9257,78,20,2018-01-24 04:15:00,CESAR CHAVEZIH 35 WSR,WB_out,33,1,27,1,23,2018,22,15,2,22:15,WB
52,c20c2459a654786a5afac40559ce80f9,79,20,2018-01-24 04:15:00,CESAR CHAVEZIH 35 WSR,WB_in,26,1,24,1,23,2018,22,15,2,22:15,WB
53,5b44d9482e25b06d59847beb33072d11,80,20,2018-01-24 04:15:00,CESAR CHAVEZIH 35 WSR,EB_in,90,19,16,1,23,2018,22,15,2,22:15,EB
54,7381643dc06a8a9b6b0befe757cb60ee,81,20,2018-01-24 04:15:00,CESAR CHAVEZIH 35 WSR,EB_mid,69,7,19,1,23,2018,22,15,2,22:15,EB
55,bcaea82045cae281a1419b38da0cb89b,82,20,2018-01-24 04:15:00,CESAR CHAVEZIH 35 WSR,EB_out,3,0,8,1,23,2018,22,15,2,22:15,EB

In [10]:
on_35.nunique()

Row ID               554655
Detector ID               5
KITS ID                   1
Read Date            109023
Intersection Name         1
Lane                      5
Volume                  256
Occupancy               101
Speed                   159
Month                    12
Day                      31
Year                      5
Hour                     24
Minute                   60
Day of Week               7
Time Bin                112
Direction                 2
dtype: int64

In [11]:
data_frame['Intersection Name'].value_counts()

LOOP 360LAKEWOOD              651342
LOOP 360WALSH TARLTON         643972
CESAR CHAVEZIH 35 WSR         554655
BURNETPALM WAY                515405
BurnetRutland                 497380
LAMARMANCHACA                 437900
LAMARSHOALCREEK               427132
Cesar ChavezBR Reynolds       402756
LAMARCOLLIER                  390660
LamarBroken Spoke             388556
CONGRESSBARTON SPRINGS        387083
LAMARSANDRA MURAIDA           313100
CongressJohanna               249248
LOOP 360CEDAR                 246144
N Lamar15th                   220692
LAMARZENNIA                   202620
TOOMEYTEST                    139206
Robert E LeeBarton Springs    111954
KINNEYLAMAR                    54432
Name: Intersection Name, dtype: int64

In [12]:
year_study = on_35.groupby('Month').agg({'Volume':'mean'})

year_study

          Volume
Month
1      48.929208
2      53.039682
3      60.342450
4      48.881879
5      52.446496
6      55.212546
7      54.938268
8      58.449501
9      56.422006
10     52.968821
11     50.382918
12     46.614719

In [13]:
data_frame = data_frame.sort_values(by = 'Read Date', ascending=False)

data_frame.head()

,Row ID,Detector ID,KITS ID,Read Date,Intersection Name,Lane,Volume,Occupancy,Speed,Month,Day,Year,Hour,Minute,Day of Week,Time Bin,Direction
5725309,e8c8f6687493ef321cc18f3ade802ab4,47,15,2021-09-08 12:00:01,Cesar ChavezBR Reynolds,WB_out,127,6,43,9,8,2021,12,0,3,12:00,WB
5725308,5a4544b7a131ef81012c38818a9d76bb,46,15,2021-09-08 12:00:01,Cesar ChavezBR Reynolds,WB_in,113,4,44,9,8,2021,12,0,3,12:00,WB
5725307,8b121e2c3d4ee91675ba11b276c77200,45,15,2021-09-08 12:00:01,Cesar ChavezBR Reynolds,EB_in,158,6,45,9,8,2021,12,0,3,12:00,EB
5725306,5a58ba1a18de408f38d6d3394c1a580e,44,15,2021-09-08 12:00:01,Cesar ChavezBR Reynolds,EB_out,151,6,42,9,8,2021,12,0,3,12:00,EB
5725284,cbff725971600b5cbb48db7a47b697eb,32,10,2021-09-08 12:00:00,LamarBroken Spoke,Lane3,135,8,37,9,8,2021,12,0,3,12:00,Lane3